@charset "utf-8";
/* CSS Document */

/*login 页面*/
* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; overflow: hidden; }
body {background:#0053ae; }
.login-bg{width:100%;height:100%;margin:0 auto;position:relative;}
.login-bg img{width:100%;height:100%;position:absolute;left:0;top:0;}
.login_area { width:625px; height:387px; background: url(/resource/system/images/login/chenghua/logo_area.png) no-repeat; margin: 0 auto;position:absolute;top:60%;left:55%;margin:-326px 0 0 -346px;}
.login_area h1{ background:url(/resource/system/images/login/chenghua/logo.png) no-repeat;text-indent:-9999em;width:524px;height:62px;margin:80px 0 0 7px;}
.login_area .login-form { position: absolute; top: 150px; right:60px;*top: 160px; }
.login-form ul li { padding-bottom: 16px; }
.login-form ul li.rem-pas input {vertical-align: top;}
.login-form ul li.rem-pas label{font:14px/14px 'Microsoft Yahei';color:#333;}
.login-form .inputBg{background: url(/resource/system/images/login/chenghua/input_bg.png) no-repeat;width: 226px; height: 38px;padding-left:40px;}
.login-form .inputBg input{width:210px;height:25px;border:0 none;background:0 none;color:#333;margin-top:5px;line-height:25px\0;*line-height:25px;}
.login-form .inputBg input.errorInput{background:#fee; border:1px solid #DB0027;}
.login-form .username{ background-position:0 0;}
.login-form .password{ background-position:0 -55px;}
.login-form .login-btn { background: url(/resource/system/images/login/chenghua/btn_bg.jpg) no-repeat; width: 100px; height: 35px; border: 0 none; color: #fff; font: 18px/35px 'Microsoft Yahei'; margin-right: 60px; cursor: pointer;}

