body,html{overflow:hidden;height:100%;width:100%;}
.header{background:#2d78c5;height:90px;}
.workbenchMain{padding:10px 10px 0;overflow-y:auto;}
.workbenchMain,.workbenchMain h3,.workbenchMain a,.workbenchMain span,.workbenchMain li{font-family:"microsoft yahei";}
.workbenchMain .workbench-left{ position:relative; float:left;width:245px; z-index: 2;}
.workbenchMain .workbench-main{ position:relative;overflow:hidden;zoom:1;}
.workbenchMain .workbench-main .workbench-right{float:right;width:280px;position:relative;padding:0;}
.workbenchMain .workbench-main .workbench-middle{overflow:hidden;zoom:1;}
.workbenchMain .portlet .portlet-header{background:url(../images/header_bg.png) repeat-x;height:32px;border-bottom:1px solid #d0d1d3;}
.workbenchMain .portlet .portlet-header h3{display:block;font-weight:normal;color:#333;font-size:16px;line-height:32px;text-indent:0.8em;}
.workbenchMain .portlet .portlet-cont{background:url(../images/bg_shade.png) left top repeat-x;padding:10px;overflow:auto;}
.workbenchMain .portlet-task .portlet-cont{}
.workbenchMain .portlet{border:1px solid #d0d1d3;border-radius:3px;}
.workbenchMain .portlet-task{margin:0 10px;}
.workbenchMain .workbench-left .portlet,.workbenchMain .workbench-right .portlet{margin-bottom:10px;}

/*kuaijietongdao*/
.shortcutList li{line-height:28px;position:relative;}
.shortcutList li i{width:16px;height:16px;background:url(../images/icon.png) no-repeat;vertical-align:middle;display:inline-block;margin-left:20px;}
.shortcutList li i.icon_event{background-position:0 0px}
.shortcutList li i.icon_census{background-position:0 -30px}
.shortcutList li i.icon_flow{background-position:0 -59px}
.shortcutList li i.icon_infor{background-position:0 -90px}
.shortcutList li i.icon_service{background-position:0 -120px}
.shortcutList li i.icon_dairy{background-position:0 -150px}
.shortcutList li a{color:#333;font-size:14px;padding-left:50px;position:absolute;left:0;top:0;z-index:1;width:87%;}

/*daibanshixiang*/
.portlet .task_title{font-size:14px;color:#2774c2;margin-bottom:3px;}
.portlet .tasklist{position:relative;padding-bottom:10px;}
.portlet .taskevent{border-bottom:1px dashed #ccc;}
.workbench-middle .portlet .tasklist ul{height:172px;}
.portlet .grayBg{background:#f2f2f2 !important;cursor:pointer;}
.portlet .tasklist ul{height:164px;}
.portlet .tasklist li a{color:#333;}
.portlet .tasklist li a:hover{color:#2774c2;}
.portlet .tasklist li .isNew{display:inline-block;*display:inline;*zoom:1;}
.portlet .tasklist li .spewidth{width:200px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.portlet .tasklist li .date{color:#999;position:absolute;right:85px;top:0;}
.portlet .tasklist li .balckdot,.noticeList li .balckdot{width:2px;height:2px;background:#333;display:inline-block;vertical-align:middle;margin-left:10px;}
.portlet .tasklist li .lookNew,.portlet .tasklist li .lookNewspe{float:right;display:block;background:url(../images/btn_bg.png) left bottom no-repeat;width:70px;height:28px;line-height:28px;text-align:center;margin-right:5px;}
.portlet .tasklist li .lookNew:hover,.portlet-task .tasklist li .btnHover,.portlet .tasklist li .lookNewspe:hover{background-position:left top;}
.portlet .tasklist li{height:28px;line-height:28px;position:relative;margin-bottom:3px;}
.portlet .tasklist li .lookhidearea{position:absolute;width:70px;border:1px solid #6dd1f1;right:1px;top:0px;z-index:100;display:none;}
.portlet .tasklist li .lookhidearea a{display:block;text-align:center;background:#eee;width:70px;position:relative;}
.portlet .tasklist li .lookhidearea .hidelevarea{position:absolute;width:20px;border:1px solid #6dd1f1;left:-23px;top:29px;z-index:100;display:none;}
.portlet .tasklist li .lookhidearea .hidelevarea a{display:block;text-align:center;background:#eee;width:20px;height:20px;line-height:20px;}
.portlet .tasklist li .lookhidearea a:hover,.portlet .tasklist li .lookhidearea .hidelevarea a:hover{background:#e7f6ff;}
.tasklist .showMore a,.portlet-include .showMore a{display:block;height:14px;line-height:14px;color:#ccc;text-align:right;float:right;margin-right:10px;margin-top:10px;}

/*tongzhitonggao*/
.portlet-notice .noticeList .scrollNews{margin-top:10px;height:72px;overflow:auto;position:relative;}
.portlet-notice .noticeList li{overflow:hidden;clear:both;line-height:24px;height:24px;}
.portlet-notice .noticeList li a{color:#333;}
.portlet-notice .noticeList li a:hover{text-decoration: underline;}
.portlet-notice .noticeList li .date{float:right;color:#999;margin-right:5px;}
.noticeList li .balckdot{margin-right:5px;}
.noticeList .stick{padding-bottom:10px;border-bottom:1px dashed #999;height:95px;position:relative;}
.noticeList .stick .title{text-align:center;font-size:14px;color:#333;display:block;line-height:30px;}
.noticeList .stick .abstract{text-indent:2em;color:#999;line-height:22px;}
.noticeList .stick .abstract .title{text-indent:2em;color:#999;line-height:22px;text-align:left;}
.noticeList .stick .readmore{color:#2774c2;}

/*denglutongji*/
.workbenchMain  .portlet-sign .portlet-cont{padding:0;}
.portlet-sign .weekly{height:30px;}
.portlet-sign .weekly span{display:inline-block;height:29px;border-bottom:1px solid #ebebeb;vertical-align:top;line-height:29px;}
.portlet-sign .saturday span,.portlet-sign .sunday span{color:#de1500;}
.portlet-sign .weekly .week{width:128px;border-right:1px solid #ebebeb;text-align:center;float:left;}
.portlet-sign .weekly .fr{width:149px;float:right;}
.portlet-sign .weekly .sign{background:url(../images/sign.png) center 6px no-repeat;}
.portlet-sign .weekly .nosign{background-position:center -22px;}
.portlet-sign .lastday span{border-bottom:none;}

.portlet .warnspace{width:126px;height:26px;text-align:right;background:url(../images/warn.jpg) left center no-repeat;font-size:14px;color:#ccc;line-height:26px;position:absolute;left:50%;top:50%;margin:-13px 0 0 -63px;}
.portlet .tasklist{position:relative;}
.portlet-tab .tab{float:left;}
.portlet-tab .tab a{display:inline-block;*display:inline;*zoom:1;background: url(../images/tab_bg.png) left bottom no-repeat;width:81px;height:32px;line-height:35px;position:relative;top:1px;text-align:center;color:#333333;font-size:14px;margin-left:10px;}
.portlet-tab .tab .on{background-position:right bottom;}
.portlet-tab .settings{float:right;line-height:32px;margin-right:10px;color:#333;}
.portlet-notice .taskevent{border-bottom:1px dashed #ccc;margin-bottom:10px;padding-bottom:15px;}
.portlet .posa{position:relative;height:150px;}
.portlet-grid{margin:0 10px;}
.workbenchMain .portlet-tab{margin-bottom:10px;}
.workbenchMain .calendar{width:auto;margin:0;padding:0;}
.workbenchMain .calendar tr:hover{background:none;}
.workbenchMain .calendar .ui-datepicker{padding:0;margin:0;border:0;height:225px;background:none;border-radius:0;width:243px;}
.workbenchMain .calendar .ui-datepicker td{border:1px solid #e5e5e5;padding:0;width:31px;height:29px;}
.workbenchMain .calendar .ui-datepicker td a{text-align:center;background:#fff;color:#333;border:0;margin:0;padding:0;width:31px;height:29px;line-height:29px;}
.workbenchMain .calendar .ui-datepicker td .ui-state-hover{background:url(../images/cal_active.jpg) no-repeat;}
.workbenchMain .calendar .ui-datepicker td .ui-state-active{background:url(../images/cal_today.jpg) no-repeat;}
.workbenchMain .calendar .ui-datepicker td .hasData,.workbenchMain .calendar .ui-datepicker .hasSign .hasData{background:url(../images/hasdata.jpg) top right no-repeat !important;}
.workbenchMain .calendar .ui-datepicker .hasSign{background:url(../images/icon_sign.png) center center no-repeat;}
.workbenchMain .calendar .ui-datepicker .hasSign .ui-state-default{background:none;}
.workbenchMain .calendar .ui-datepicker .ui-datepicker-header{background:none;border-radius:0;border:0;padding-top:9px;padding-bottom:9px;}
.workbenchMain .calendar .ui-datepicker .ui-datepicker-calendar{position:relative;}
.workbenchMain .calendar .ui-datepicker th{border:1px solid #e5e5e5;}
.workbenchMain .calendar .ui-datepicker-header .ui-state-hover{background:none;border:none;margin:0;padding:0;}
.workbenchMain .calendar .ui-datepicker-header .ui-datepicker-next,.workbenchMain .calendar .ui-datepicker-header .ui-datepicker-prev{top:10px;cursor:pointer;}
.workbenchMain .calendar .ui-datepicker-header .ui-datepicker-next .ui-icon{background:url(../images/date_next.jpg) no-repeat 0 0;}
.workbenchMain .calendar .ui-datepicker-header .ui-datepicker-prev .ui-icon{background:url(../images/date_prev.jpg) no-repeat 0 0;}
.workbenchMain .calendar .ui-datepicker th span{color:#999;font-weight:normal;}
.workbenchMain .addworkmemos{top:320px;}
.portlet-include{margin:0 5px 10px 10px;}
.portlet-include .ui-tabs{padding:0;}
.portlet-include .ui-tabs-nav{padding:0;margin:0;border:0;border-bottom:1px solid #d0d1d3;height:32px;}
.portlet-include .ui-tabs-nav .ui-state-default{padding:0;border:0;display:inline-block;*display:inline;*zoom:1;background: url(../images/tab_bg.png) left bottom no-repeat !important;width:81px;height:32px;line-height:35px;position:relative;top:1px;text-align:center;color:#333333;font-size:14px;margin-left:10px;}
.portlet-include .ui-tabs-nav .ui-state-active{background-position:right bottom !important;top:0;}
.portlet-include .ui-tabs .ui-tabs-panel{padding:0;}
.portlet-include .ui-state-highlight a{color:#333;}
.portlet-cont .taskevent tasklist .scrollNews{margin-top:10px;height:72px;overflow:hidden;position:relative;}
.ui-tabs .ui-tabs-nav li a{padding:0 10px;line-height:36px !important;width:60px;}
.dialogSpe{left:50%!important;top:50%!important;margin-left:-175px!important;margin-top:-100px!important;}
.workbenchMain .portlet-shortcut .portlet-cont,.workbenchMain .portlet-calendar .portlet-cont,.workbenchMain .portlet-include .center-content{overflow:hidden;}