@import "/resource/external/jqueryui/default/jquery-ui-1.9.2.custom.min.css";
@import "/resource/system/css/main.css";

/*ui*/
.workbench-content .ui-tabs .ui-tabs-nav{border:1px solid #3874C8;background:#4B87D4 url(/resource/system/images/skin/default/icon_staticsTitle.png) repeat-x;}
.workbench-content .ui-tabs .ui-tabs-nav li.ui-tabs-active{color:#346FC5;background:url(/resource/system/images/skin/default/tabCurrent.png) repeat-x center 0;}
.workbench-content .ui-tabs .ui-tabs-nav li.ui-tabs-active a{color:#346FC5;}
.ui-dialog .ui-tabs .ui-tabs-nav{background:#eee url(/resource/system/images/skin/default/dialog_tab_title.jpg) repeat-x;}
.ui-dialog .ui-tabs .ui-tabs-nav li.ui-tabs-active a{color:#346FC5;}

/*jqgrid*/
.ui-jqgrid tr.ui-state-highlight,
.ui-jqgrid tr.ui-state-hover{background:#e6f0fb;}
#gbox_permissionTree .ui-state-highlight,
#gbox_permissionTree .ui-state-hover{background:#fff;color:#333;}

/*jrac_zoom_slider*/
.jrac_zoom_slider .ui-state-active{border: 1px solid #346fc5;background: #3874ca;}

/*tablelist*/
.tablelist .title{background:#ECF1F8;}

/* header */
.systemHeader{background: url(/resource/system/images/skin/default/header_bg.jpg) repeat-x;}
.systemHeader .logo-container{
    background: url(/resource/system/images/skin/default/head_left_bg.jpg) left bottom no-repeat;
}
.product-menu .sysMenu{ background: url(/resource/system/images/skin/default/menu_btn.png) top no-repeat;}
.product-menu .sysMenu:hover{background-position:bottom;}

/*workbench*/
.addworkmemos .okbtn{background:#1C85C7;border:1px solid #0D659B;}
.column .portlet-header{
    background:url(/resource/system/images/skin/default/map-title-bg.jpg) repeat-x;
    border:1px solid #4286CF;
    border-left:1px solid #83A4D1;
    border-right:1px solid #83A4D1;
}
.portlet-header .portlet_tools{
	background: url(/resource/system/images/skin/default/icon_tools.png) no-repeat;
}
.portlet-content a{color:#06c;}
.workbench-ctt-left .btitle{background:url(/resource/system/images/skin/default/left_title.jpg) no-repeat 23px center;}
.calendar #today,.workbench-ctt-left .today h3{
	color:#336ec4;
}
.rightWorkbench .ui-datepicker .ui-datepicker-calendar td .ui-state-active{
    background-color:#4984D3;
}
.sysMenuList dd.select a, dl.sysMenuList dd:hover a{
    background: url(/resource/system/images/skin/default/menu_bg_hover.png) repeat-x;
}
.workbench-ctt-left .ui-datepicker .ui-datepicker-calendar td{}

/*orgBoxSearchBox*/
.orgBoxSearchBox .organizationlist a:hover{color:#4b86d2;}
.orgSelectBox .orgBoxResult a strong{color:#4b86d2;border:1px solid #C6D8E0;background:-moz-linear-gradient(top, #fafafa, #e7eef1); background:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e7eef1)); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fafafa',EndColorStr='#e7eef1');}
.orgSelectBox .orgBoxResult a.cur strong{background:#4687DE;}


/*nav*/
#nav a,.btnbanner a,.btnlist a{background:url(/resource/system/images/skin/default/button-bg.png) left -24px no-repeat;}
#nav a span, .btnbanner a span,.btnlist span{background:url(/resource/system/images/skin/default/button-bg.png) right -24px no-repeat;}

/*nav-sub-buttons*/
#nav .nav-sub-buttons a:hover{background:#3366CC;}

/*autocomplute*/
ul.holder li.bit-box{border: 1px solid #5D99CD;background: #E8F2FC;}

/*issueList*/
.issueList li.current{border:1px solid #4581D9;background:#7CA9E2;}
.issueList li.current span.arrow{background:url(/resource/system/images/skin/default/icon_issueSarrow.png) no-repeat;}
div.issuePagination a:hover, div.issuePagination a:active{color:#fff; border:1px solid #b7d8ee; background-color:#d2eaf6;}
.dealRecord h3.processRecord .processBtnList a.cur{
	background: -moz-linear-gradient(top, white, #E9F5F1);
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#E9F5F1));
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#E9F5F1');
}
.dealRecord h3.processRecord .processBtnList a span{background:url(/resource/system/images/skin/default/icon_process_title.png) no-repeat;}
.issueRight .recordData .time{background-position:right center;}
.issueRight .recordList .recordData{border:1px solid #C7E1F6; background:#E6F0FB;}
.issueRight .smallText{border:1px solid #C7E1F6;border-top:0;}

/*message*/
.messageContentInfo{background:#ebf7fe;}
.issueRight .issueReTitle em{color:#4581D9}


/*dlgBox*/
.dlgBox{background-color:#eff4f8; border:1px solid #A6C9E2;}
.dlgRightAdd{border-left:1px solid #A6C9E2;}
.ui-dialog .dlgBox .ui-tabs .ui-tabs-nav li.ui-tabs-active,.dlgLeftMenu li.cur a{background:#82A9D9;}
.dlgBtnList,
.upTreatedAvatar{border-top:1px solid #A6C9E2;}
.dlgBtnList input,
.upTreatedAvatar input{border: 1px solid #346fc5;background: #3874ca;}
.dlgBtnList input:hover,
.upTreatedAvatar input:hover{color:#2d62ac;}
.personalCatagory{border-bottom:1px solid #437FD5;}
.personalCatagory a{background:url(/resource/external/jqueryui/default/images/ui-icons_346fc5_256x240.png) no-repeat -129px -192px;}

/*incident*/
.Structure dd.current,.processList_content .list a.current{background:#C2DAF2;}

/*ul.holder*/
ul.holder li.bit-box-focus {background: #5D99CD !important;}

#nav a.globalOrgBtnMod,
a.globalOrgBtnMod{
	border:1px solid #2941F3;
    background:-moz-linear-gradient(top, #4b86d2, #4b86d2) !important; 
    background:-webkit-gradient(linear, left top, left bottom, from(#4b86d2), to(#4b86d2)) !important; 
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#4b86d2',endColorStr='#4b86d2',gradientType='0')!important; 
    background:linear-gradient(to bottom, #4b86d2, #4b86d2);
  	box-shadow:1px 1px 3px #C5C4C4;
}

.issueLeftMenuList{}
.issueLeftMenuListAcc h3.title,.issueButton{background:url(/resource/system/images/newIssue/acc_bg.png) repeat-x;}
.issueLeftMenuListAcc h3.title a{background:url(/resource/system/images/newIssue/arr_1.png) no-repeat left;}
.issueLeftMenuListAcc .accCtt li a:hover,.issueLeftMenuListAcc .accCtt li a.cur{background:#B3D4FF;}

a.base-button,a.base-button span{cursor:pointer;line-height:18px;background:url(/resource/system/images/buttons_blue.png) no-repeat;}
a.base-button{background-position:left top;padding-left:10px;margin-right:5px;text-indent:0;color:#656565;font-weight:normal;}
a.base-button span{padding-right:10px;background-position:right top;}