.olMap{
	background:url(../images/maplogo.jpg) repeat;
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    /**cursor: default;*/
    cursor: url(/resource/openLayersMap/images/openhand.cur), default !important;
	/*border:1px solid #999999;*/
}
.olMap .olDragDown {
	cursor: url(/resource/openLayersMap/images/closedhand.cur), default;
}
.olImageLoadError{ 
	padding:256px;
	display: none;
	background:none !important; 
}
/**Common layer css*/
.olLayerDiv div{margin-top:-5px;}

/**control Overview(鹰眼) css*/
.olControlTQOverviewMapContainer {position: absolute;bottom: 2px;right: 0px;background-color: #FFFFFF;}
.olControlTQOverviewMapElement {
   	border-left:1px solid #999999 !important;border-top:1px solid #999999 !important;padding-top: 5px !important;padding-left: 5px !important;
	/*border:1px solid #000000 !important;padding: 4px 4px 4px 4px !important;padding: 1px 1px 1px 1px;background-color: #ffffff !important;background-color: #ffffff;-moz-border-radius: 1em 0 0 0;border:1px solid #000000;*/
}
.olControlTQOverviewMapMinimizeButton {right: 0px;bottom: 0px !important;bottom: 0px;}    
.olControlTQOverviewMapMaximizeButton {right: 0px;bottom: 0px !important;bottom: 0px;}
.olControlTQOverviewMapExtentRectangle {
	overflow: hidden;background-image: url("rect.gif");background-repeat: no-repeat;background-position: center;cursor: move;border: 2px ridge  blue !important;border: 2px ridge  blue;
	background:#D8DDE9;/*background:#69F;*/filter:alpha(opacity=50);/* IE */ -moz-opacity:0.5;/* Moz + FF */ opacity: 0.5; /* 支持CSS3的浏览器（FF 1.5也支持）*/
}
.olControlTQOverviewMapRectReplacement {overflow: hidden;cursor: move;background-image: url("overview_replacement.gif");background-repeat: no-repeat;background-position: center;}
/*指南针*/
.olControlTQCompass{position:absolute;bottom:58px;left:10px;z-index:99999;}
.olControlTQCompassD45{background:url(../images/3dNorth.png) no-repeat;width:56px;height:67px;}
.olControlTQCompassD0{background:url(../images/2dNorth.png) no-repeat;width:56px;height:67px;}
/**control GisType(图层切换工具) css*/
.olControlGisType{position:absolute;right:10px;top:36px;z-index:1000;}
.olControlGisType .mapChangeTools{width:57px;height:56px;overflow:hidden;position:absolute;right:0px;top:0px;}
.olControlGisType .mapChangeTools li{width:56px;height:56px;display:block;cursor:pointer;position:absolute;}
.olControlGisType .mapChangeTools li .text{width:54px;height:20px;font:bold 12px/20px "";color:#fff;text-align:center;background:#000;opacity:0.7;filter:alpha(opacity=70);_filter:none;_zoom: 1;position:absolute;bottom:1px;left:1px;}
.olControlGisType .mapChangeTools .img{position:relative;}
.olControlGisType .mapChangeTools .map2D{width:56px;height:56px;background:#fff url(../images/GIS_2D.jpg) no-repeat center center;}
.olControlGisType .mapChangeTools .map3D{width:56px;height:56px;background:#fff url(../images/GIS_2.5D.jpg) no-repeat center center;}
.olControlGisType .mapChangeTools .mapMS{width:56px;height:56px;background:#fff url(../images/GIS_MS.jpg) no-repeat center center;}
/**control LoadingPanel(加载进行中控件) css*/
.olControlTQLoadingPanel{position: relative;width: 100%;height: 100%;background-position: center;background-repeat: no-repeat;display: inline;}
.olControlTQLoadingPanelImg{top: 40%;left: 45%;position: absolute;background-color: Transparent;}
/**control PanZoomBar css*/
.olControlTQPanZoomBar .orgDiv{position:absolute;width:150px;position:relative;z-index:99999;height: 150px;}
.olControlTQPanZoomBar .orgDiv li{cursor:pointer;font:normal 12px/1em 'microsoft yahei';position:absolute;left:0px;color:#fff;text-align:center;}
.olControlTQPanZoomBar .orgDiv li a{float:left;height:15px;display:inline-block;*display:inline;*zoom:1;line-height:15px;padding-left:20px;background:url(../images/map_org_bg.png) no-repeat left 0;color:#fff;}
.olControlTQPanZoomBar .orgDiv li a span{float:left;height:15px;display:inline-block;*display:inline;*zoom:1;padding-right:15px;background:url(../images/map_org_bg.png) no-repeat right 0;}
