.accountType{overflow:auto;}
.countlist td{border-right:1px solid;border-bottom:1px solid;}
.countlist th{border:1px solid;border-top:1px solid;}
.countlist td,.countlist th{text-align:center;font-size:12px;font-weight:normal;line-height:24px;vertical-align: middle;word-break:break-all;word-wrap:break-word;}
.countlist .delleft{border-left:none;}
.countlist .deltop{border-top:none;}
.myAccountStyle{width:17px;height:17px;display:inline-block;*display:inline;*zoom:1;margin:4px 0px 0px 0px;}
.account-red{background:url(/resource/xichang/image/red.png) no-repeat;}
.account-green{background:url(/resource/xichang/image/green.png) no-repeat;}
.account-blue{background:url(/resource/xichang/image/blue.png) no-repeat;}
.account-yellow{background:url(/resource/xichang/image/yellow.png) no-repeat;}
.account-purple{background:url(/resource/xichang/image/purple.png) no-repeat;}
.countlist td.colsTit,.countlist th.colsTit{word-break:normal;word-wrap:normal;}